
body {
  text-align: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}
#btn-translate {
  color: green;
  margin: 1rem;
}
#txt-input {
  display: block;
  width: 80%;
  height: 10vh;
  margin: auto;
  padding: 1rem;

}
#output-box {
  border: 2px solid;
  display: block;
  width: 80%;
  height: 10vh;
  margin: auto;
  padding: 1rem;
  text-align: left;
  font-style: normal;
}